.card {
  position: relative;
  width: 100%;
  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100vw;
  }
  .cardHeader {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: bold;
    z-index: 10;

    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }

  .cardButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 0.7rem 1.8rem;
    font-size: clamp(0.7rem, 1.2vw, 1rem);
    cursor: pointer;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 15px;

    clip-path: polygon(0 0, 100% 0, 100% 70%, 85% 100%, 0 100%);
  }
}
