.overlay{
   position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }
}

.hamburgerButton {
    position: fixed;
    right: 2vw;
    top: 2vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: clamp(2rem, 3vw, 3rem);
}

.hamburgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ;
    z-index: 99;

    &.open {
        transform: translateX(0);
    }

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    li {
        list-style: none;
        width: 100%;
        text-align: center;

        .listItem {
            display: block;
            font-size: clamp(1.2rem, 2vw, 2rem);
            color: #222;
            text-decoration: none;
            padding: 1rem 0;
            transition: background 0.2s;
            border-radius: 8px;

            &:hover {
                background: #f9637a22;
            }
        }
    }
}

@media (max-width: 650px) {
    .hamburgerMenu {
        left: 0;
        right: 0;
        width: 100vw;
        max-width: none;
        border-radius: 0;
    }
}